aiogram==2.14.3
aiogram-calendar==0.1.1
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrdict==2.0.1
attrs==21.2.0
Babel==2.9.1
base58==2.1.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
cytoolz==0.11.0
ecdsa==0.15
environs==8.0.0
eth-abi==2.1.1
eth-account==0.4.0
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
h11==0.12.0
hexbytes==0.2.2
httpcore==0.12.3
httpx==0.16.1
idna==3.2
marshmallow==3.13.0
multidict==5.1.0
parsimonious==0.8.1
pycryptodome==3.10.1
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
rfc3986==1.5.0
rlp==1.2.0
schedule==1.1.0
six==1.16.0
sniffio==1.2.0
toolz==0.11.1
tronapi==3.1.6
tronpy==0.2.6
trx-utils==1.0.4
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
openpyxl
python-binance
Telethon